{{ define "main" }}

<main class="container-fluid p-0">
    
    <div class="card-header py-3 cv-header">
        <div class="container row mx-auto px-0">
            <div class="col-6 px-0">
                <h3 class="px-3 text-capitalize">THANGARAJA VAIYAPURI</h3>
                <h6 class="px-3 text-muted"> <span class="btn btn-outline-secondary"><i class="far align-middle f-14 fa-envelope"></i> </span> vaiyapuri.thangaraja@gmail.com <span class="btn btn-outline-secondary ml-2"><i class="fas fa-mobile-alt"></i></span>  +65 - 8186 0115 </h6>                
            </div>
            <div class="col-6 px-0 text-right">
                <h6 class="px-3 text-muted text-capitalize"> <strong>Passport: </strong>Valid till 2028, <strong>Visa:
                    </strong>Valid till 2022 </h6>
                <h6 class="px-3 text-muted text-capitalize"> <strong>Resident Address: </strong>BLK 104A, #13-45,
                    Punggol </h6>
                <h6 class="px-3 text-muted text-capitalize">Edgefield plains, Punggol. Singapore - 821104</h6>
            </div>
        </div>
    </div>

    <section class="container mt-2">
        <h3 class="py-2 border-bottom mb-3 text-capitalize">summary</h3>
        <p class="text-muted mb-2 f-16"> I have 10 years of IT experience in administration and Support activities.
            Application Deployment and testing utilizing Ansible. Worked in container-predicated OpenPaaS technologies
            like Docker, Kubernetes and Redhat OpenShift. Technical Expertise includes in AIX, LPAR, VIO and HACMP. Have
            a good exposure and quandary-solving skills in Sun Solaris and Linux.</p>
    </section>

    <section class="container mt-2">
        <div class="row">              
            <div class="col-7">
                <h3 class="py-2 border-bottom mb-3 text-capitalize">skills</h3>
                <dl class="row mb-0">
                    <dt class=" font-weight-normal col-md-3 text-muted mb-2 f-16"> Cloud</h5>
                    <dd class="col-md-9 f-16">Redhat Openshift, Docker & Kuberneties.</h5>
                    <dt class=" font-weight-normal col-md-3 text-muted mb-2 f-16"> Operating System</dt>
                    <dd class="col-md-9 f-16">AIX 4.3,5.x,6.1,7.1, Red Hat Linux ES 5, 6, 7, Solaris 10,11 </dd>
                    <dt class=" font-weight-normal col-md-3 text-muted mb-2 f-16"> Hardware</dt>
                    <dd class="col-md-9 f-16">IBM pSeries 520,p550,p680,p690, POWER6, POWER7 and POWER8, HP Blades C7000</dd>
                    <dt class=" font-weight-normal col-md-3 text-muted mb-2 f-16"> Scripting</dt>
                    <dd class="col-md-9 f-16">shell scripting (Bash, ksh), python.</dd>
                    <dt class=" font-weight-normal col-md-3 text-muted mb-2 f-16"> Orchestration Tool</dt>
                    <dd class="col-md-9 f-16">Ansible</dd>
                    <dt class=" font-weight-normal col-md-3 text-muted mb-2 f-16"> Deployment Tool</dt>
                    <dd class="col-md-9 f-16">Jenkins</dd>
                </dl>
            </div>
            <div class="col-5">
                <h3 class="py-2 border-bottom mb-3 text-capitalize">Certification</h3>
                <dl class="row">                        
                    <dd class="col-md-12 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Pursuing Red hat, _Openshift Administrator._</dd>                        
                    <dd class="col-md-12 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> The Linux Foundation CKA: Certified *Kubernetes* Administrator.</dd>                        
                    <dd class="col-md-12 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Red hat, *Ansible* Certified.</dd>                        
                    <dd class="col-md-12 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> IBM Certified System Administrator *AIX 6.1* Administration. </dd>
                </dl>
            </div>     
        </div>
    </section> 

    <section class="container mt-2">
        <h3 class="py-2 border-bottom mb-3 text-capitalize">experience</h3>
        <div class="row">
            <div class="col-md-4">
                <h4 class="f-24">Current Organization</h4>
                <h6 class="text-muted font-weight-bold f-14 text-capitalize"><span class="btn btn-outline-secondary"><i class="fas align-middle f-14 fa-industry"></i></span> Comtel Solns & Ricoh (Singapore), PTE Ltd</h6>
                <h6 class="text-muted text-capitalize"> <span class="btn btn-outline-secondary"><i class="far align-middle f-18 fa-id-badge"></i></span> UNIX Engineer</h6>
                <!-- <a target="_blank" href="https://www.dropthought.com">
                    <img src="dist/images/dt.png" style="height: 75px;" class="rounded" alt="...">
                </a> -->
            </div>
            <div class="col-md-8">
                <h5 class="f-18">Roles and Responsibilities</h5>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>Worked in container-based OpenPaaS technologies like Docker, Kubernetes
                    and Redhat OpenShift.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>Build and deployed Docker container for implementing microservice
                    architecture from monolithic architecture.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>Worked in OpenShift for creating new Projects, Services for load
                    balancing and adding them to Routes to be accessible from outside, troubleshooting pods through ssh
                    and logs, modification of Buildconfigs, templates, Image streams, etc</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>Policy creation and patching through HPSA tool.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>Involved in migrating legacy servers to Private cloud setup.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>Involved Unix patching/upgrades including AIX, Linux and Solaris.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>Involved in various automation efforts using Shell scripts</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>Automated BAU tasks like, OS patching, filesystem management.</p>
                <!-- <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Joined as a Fresher got wellversed with the technology stack. i was 2nd
                    billable
                    resource for the company.</p> -->
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <h4 class="f-24">Previous Organization</h4>
                <h6 class="text-muted font-weight-bold text-capitalize"> <span class="btn btn-outline-secondary"><i class="fas align-middle f-14 fa-industry"></i></span> Infinite computer solutions</h6>
                <h6 class="text-muted text-capitalize"><span class="btn btn-outline-secondary"><i class="far align-middle f-18 fa-id-badge"></i></span> System Administrator</h6>
                <!-- <a target="_blank" href="http://vhitechlab.com/">
                    <img src="dist/images/vhitech.png" class="rounded" alt="...">
                </a> -->
            </div>

            <div class="col-md-8">
                <h5 class="f-18">Roles and Responsibilities</h5>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Involved in migrating legacy servers to Private cloud setup</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Planned and Achieved in migrating around 400+ AIX servers from 6.1 to
                    7.1 without any major business impacts.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Contributed ideas and involved in planning of data center migration
                    projects</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Involved in planning and designing Private cloud using IBM power
                    virtualization concepts ( VIO, powerVC, PowerVM)</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Achieved several AIX physical servers to virtual server migrations</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Involved in planning and execution of 600 AIX power7 to power8
                    migrations</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Handed IBM p series frame setup end to end</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Involved in many SAN migrations on UNIX servers (IBM SAN to EMC & EMC
                    SAN to HDS SAN )</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Involved in various automation efforts using Shell scripts</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Automated BAU tasks like, OS patching, filesystem management</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Involved Unix patching/upgrades including AIX, Linux and Solaris</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <!-- <h4 class="f-24">Previous Organization</h4> -->
                <h6 class="text-muted font-weight-bold text-capitalize"> <span class="btn btn-outline-secondary"><i class="fas align-middle f-14 fa-industry"></i></span> Tech Mahindra</h6>
                <h6 class="text-muted text-capitalize"><span class="btn btn-outline-secondary"><i class="far align-middle f-18 fa-id-badge"></i></span> Support Lead</h6>
                <!-- <a target="_blank" href="http://vhitechlab.com/">
                    <img src="dist/images/vhitech.png" class="rounded" alt="...">
                </a> -->
            </div>

            <div class="col-md-8">
                <h5 class="f-18">Roles and Responsibilities</h5>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Managing a multiple flavor in multiple environment to migrate the Monitoring tool.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Coordinating with a Nagios Team for installation.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Performing the data collection for the Nagios installation.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Installing the required packages to configure the Nagios tool in Linux.
                </p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Coordinating with management for requirement.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i> Coordinating with the Team to configuring and deploying Nagios Monitoring tool.</p>                
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <!-- <h4 class="f-24">Previous Organization</h4> -->
                <h6 class="text-muted font-weight-bold text-capitalize"> <span class="btn btn-outline-secondary"><i class="fas align-middle f-14 fa-industry"></i></span> Hewlett Packard Enterprise Services.</h6>
                <h6 class="text-muted text-capitalize"><span class="btn btn-outline-secondary"><i class="far align-middle f-18 fa-id-badge"></i></span> ITO Service Delivery consultant level II.</h6>               
            </div>

            <div class="col-md-8">
                <h5 class="f-18">Roles and Responsibilities</h5>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Involved in AIX migrations using nimadm in SAN boot environment.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Creating LPARs using HMC, and configuring resources, managing NPIV.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Involved in migrating a LPAR from P570 to P795.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Worked on HMC, configuration of LPAR, DLPAR management.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Configuring SEA and SEA failovers on dual VIOs.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Performing LVM activities on Linux.</p>  
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Performing cluster activities on HACMP and VCS.</p>  
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Upgrading AIX, LINUX and Solaris Systems.</p>  
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Involved in SAN switch migration projects and completed successfully.</p>                
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <!-- <h4 class="f-24">Previous Organization</h4> -->
                <h6 class="text-muted font-weight-bold text-capitalize"><span class="btn btn-outline-secondary"><i class="fas align-middle f-14 fa-industry"></i></span> Chemtrols InfoTech PVT Ltd, Mumbai.</h6>
                <h6 class="text-muted text-capitalize"><span class="btn btn-outline-secondary"><i class="far align-middle f-18 fa-id-badge"></i></span> AIX Administrator.</h6>  
                <h6 class="text-muted text-capitalize"> <strong>client:</strong>  SOVTECH Data Center, Andaman & Nicobar State IT Administration.</h6>               
            </div>

            <div class="col-md-8">
                <h5 class="f-18">Roles and Responsibilities</h5>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Managing data center activities.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Working with Field engineer for hardware related activities.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Performing daily health check over the data center Farm area for any amber light.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Raising hardware case for any Hardware related issue with vendor.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Installing Hardware in the data center farm area with Field Engineer.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Connecting Frames to the HMC and powering on the Frames.</p>  
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Configuring VIO server and VIO clients.</p>  
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Device Mapping to VIO client.</p>  
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Configuration SEA adapter.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  DLPAR activity on resources.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Backup and Restore through NIM server.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Involved in activities like Migration, TL up-gradation.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Configuring and Managing Devices.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Alternate disk installation for reducing the down time.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  MKSYSB backup using NIM server.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  ML/ TL, Efix, Service packs Installation.</p>                
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <!-- <h4 class="f-24">Previous Organization</h4> -->
                <h6 class="text-muted f-14 font-weight-bold text-capitalize"><span class="btn btn-outline-secondary"><i class="fas align-middle f-14 fa-industry"></i></span> Link Ware Technologies PVT Ltd, Chennai.</h6>
                <h6 class="text-muted text-capitalize"><span class="btn btn-outline-secondary"><i class="far align-middle f-18 fa-id-badge"></i></span> AIX System Administrator.</h6>                  
            </div>

            <div class="col-md-8">
                <h5 class="f-18">Roles and Responsibilities</h5>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Creating User, Group home directories and password administering.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Creating and maintaining User Administration.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Increase/decrease the file system size.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Creating Logical Volumes, File Systems, and Mirroring of LV’s.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Managing File Systems using LVM.</p>
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Creating Paging space and Managing.</p>  
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  ML/TL, Efix, service packs Installation.</p>  
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Managing system services.</p>  
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Device Management.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Logging call with IBM for Hardware replacement.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Monitoring and troubleshooting System Performance.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Scheduling Jobs – Using crontab.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Configuring Ether channel.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Creating snap and sending to IBM for support.</p>   
                <p class="text-muted mb-2 f-16"> <i class="fas f-7 align-middle mr-2 fa-circle"></i>  Configuring Dump devices.</p>                
            </div>
        </div>
    </section>

    <div class="card-header py-3 mt-2">
        <div class="container row mx-auto px-0">
            <div class="col-6 px-0">
                <h6 class="px-3 text-muted"> <span class="btn btn-outline-secondary"><i class="far align-middle f-14 fa-envelope"></i> </span> vaiyapuri.thangaraja@gmail.com </h6>               
            </div>
            <div class="col-6 px-0 text-right">                
                <span class="btn btn-outline-secondary ml-2"><i class="fab fa-facebook-f"></i> </span>
                <span class="btn btn-outline-secondary ml-2"><i class="fab fa-linkedin-in"></i> </span>
                <span class="btn btn-outline-secondary ml-2"><i class="fab fa-instagram"></i> </span>
                <span class="btn btn-outline-secondary ml-2"><i class="fab fa-github"></i> </span>


                
            </div>
        </div>
    </div>
   
</main>

{{ end }}